.practiceBlock {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  min-height: 500px;
  background: #fff;
  text-align: center;

  .practiceTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}