.aboutContent {
  width: 100vw;
  height: 650px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;

  .aboutImgWrap {
    flex: 1 1 50%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    background: #fff;
    min-height: 400px;
    padding: 0;
    margin: 0;

    .aboutImg {
      width: 100%;
      object-fit: cover;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .aboutTextWrap {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 3vw;

    .aboutText {
      font-size: 1.4rem;
      font-family: var(--font-geist-sans), sans-serif;
      color: #181818;
      text-align: center;
      letter-spacing: 0.04em;
      font-weight: 400;
      max-width: 560px;
      margin: 0 auto;

      p {
        margin-bottom: 1.2rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .aboutContent {
    flex-direction: column-reverse;
    min-height: unset;

    .aboutImgWrap, .aboutTextWrap {
      flex: unset;
      min-height: 220px;
      max-height: 320px;
      width: 100%;
      padding: 0;

      .aboutImg {
        max-width: 100vw;
        min-height: 220px;
        max-height: 320px;
      }
    }

    .aboutTextWrap {
      flex: unset;
      min-height: 220px;
      max-height: 320px;
      width: 100%;
      padding: 0;

      .aboutText {
        font-size: 1.1rem;
        padding: 1.2rem 0.5rem;
      }
    }

    &:nth-child(2) {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .aboutContent {
    .aboutImgWrap {
      min-height: 120px;
      max-height: 180px;
      width: 100vw;
      padding: 0;

      .aboutImg {
        min-height: 120px;
        max-height: 180px;
        width: 100vw;
      }
    }

    .aboutTextWrap {
      padding: 0 0.5rem;

      .aboutText {
        font-size: 0.95rem;
        padding: 0.7rem 0.3rem;
        text-align: center;
      }
    }
  }
}