.aboutContent {
  width: 100vw;
  min-height: 850px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;

  .aboutImgWrap {
    flex: 1 1 50%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    background: #fff;
    min-height: 400px;
    padding: 0;
    margin: 0;

    .aboutImg {
      width: 100%;
      object-fit: cover;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .aboutTextWrap {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 3vw;

    .aboutText {
      font-size: 1.4rem;
      font-family: var(--font-geist-sans), sans-serif;
      color: #181818;
      letter-spacing: 0.04em;
      font-weight: 400;
      margin: 0 auto;
      text-align: left;

      p {
        margin-bottom: 1.5rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        li {
          position: relative;
          padding-left: 2rem;
          font-weight: 500;
          font-size: 1.2rem;
          color: #181818;

          &::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
            color: #181818;
            font-size: 1.6rem;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .aboutContent {
    flex-direction: column-reverse;
    min-height: unset;

    .aboutImgWrap, .aboutTextWrap {
      flex: unset;
      padding: 0;

      .aboutImg {
        max-width: 100vw;
        max-height: 550px;
      }
    }

    .aboutTextWrap {
      flex: unset;
      max-height: 550px;
      margin-left: 2%;
      width: 100%;
      padding: 0;

      .aboutText {
        font-size: 1.1rem;
        padding: 1.2rem 0.5rem;
      }
    }

    &:nth-child(2) {
      flex-direction: column;
    }
  }
}

@media (max-width: 600px) {
  .aboutContent {
    .aboutImgWrap {
      max-height: 500px;
      width: 100vw;
      padding: 0;

      .aboutImg {
        max-height: 500px;
      }
    }

    .aboutTextWrap {
      padding: 0 0.5rem;

      .aboutText {
        font-size: 1rem;
        text-align: center;

        p {
          margin-bottom: 1rem;
        }

        ul {
          li {
            font-size: 0.9rem;
            padding-left: 0.5rem;

            &::before {
              font-size: 1.2rem;
              left: 0;
              top: 0;
            }
          }
        }
      }
    }
  }
}