.serviceBlock {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;

  .serviceTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #232325;
  }
}

.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #333;
  text-align: left;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  color: #543927;
  text-align: left;
}

.list {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 16px;

  li {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
}

.price {
  font-weight: 700;
  color: #543927;
  font-size: 18px;
  margin: 10px 0;
  text-align: left;
}

.subscriptionPrice {
  font-weight: 500;
  color: #47a17a;
  font-size: 16px;
  margin-top: 4px;
  font-style: italic;
  text-align: left;
}

.note {
  font-size: 16px;
  font-style: italic;
  color: #666;
  margin-top: 10px;
  text-align: left;
}

@media (max-width: 900px) {
  .serviceBlock {
    padding: 50px 15px;
  }
  .serviceTitle {
    font-size: 28px;
  }
  .description,
  .subtitle,
  .price,
  .subscriptionPrice,
  .note {
    font-size: 16px;
  }
  .list li {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .serviceBlock {
    padding: 40px 10px;
  }
  .serviceTitle {
    font-size: 24px;
  }
  .description,
  .subtitle,
  .price,
  .subscriptionPrice,
  .note {
    font-size: 15px;
  }
  .list li {
    font-size: 14px;
  }
}
